@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Core.Entites.Discount
@using Core.Entites.Discounts

<div class="contenti">
    <div class="container">
        <form asp-controller="Discount" asp-action="Edit" method="post">
            <input name="Id" id="discoutID" value="@Model.Id" asp-for="Id" type="hidden" />
            <input name="discoutTypeId" id="discoutTypeId" value="@Model.DiscountTypeId" asp-for="DiscountTypeId" type="hidden" />

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Name:</label>
                        <input asp-for="Name" value="@Model.Name" type="text" class="form-control required" />
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label>Discount Type:</label>
                        <select id="discountType" asp-for="DiscountTypeId" asp-items="Html.GetEnumSelectList<DiscountTyp>()">
                        </select>
                        <span asp-validation-for="DiscountTypeId"></span>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label>Discount precentange:</label>
                        <input asp-for="DiscountPercentage" value="@Model.DiscountPercentage" type="number" />
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label>Start date:</label>
                        <input asp-for="StartDateUtc" value="@Model.StartDateUtc" type="date" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>End date:</label>
                        <input asp-for="EndDateUtc" value="@Model.EndDateUtc" type="date" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Admin Comment</label>
                        <textarea asp-for="AdminComment" value="@Model.AdminComment"></textarea>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">
                    Edit
                </button>

            </div>
        </form>

        <div id="add-to-discount">

        </div>
    </div>
</div>



<section id="posts">
</section>

<section id="select-page">
</section>


<script src="~/jquery/jquery.js"></script>
<script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>

<script>

    //posts.TotalPages to create page numbers
    //posts.CurrentPage create circle
    //posts.HasNext, posts.HasPrevious  check
    $(function () {

        var CurrentPage,
            HasNext,
            HasPrev,
            TotalPages = 0,
            pageSize = 5,
            page = 1,

        discountID = $("#discoutID").val();
        discoutTypeId = $("#discoutTypeId").val();

        console.log(discountID);

        console.log("Discount TYPEEEEEEEEEE");

        console.log(discoutTypeId);
        console.log("Discount TYPEEEEEEEEEE");

        if (discoutTypeId == 1) {
            getCategories(pageSize, page);
        }
        else {
            getProducts(pageSize, page);
        }

        SwitchDiscountType();

        $('body').on('click', '.prev-btn', function () {
            //$('html, body').animate({
            //    scrollTop: $("#posts").offset().top
            //}, 600);

            if (HasPrev == true) {
                if (discoutTypeId == 1) {
                   getCategories(pageSize, --CurrentPage);
                }
                else {
                    getProducts(pageSize, --CurrentPage);
                }
                if ($(".next-btn").hasClass("stop")) {
                    $(".next-btn").removeClass("stop");
                    $(".next-btn").addClass("go");
                }
            }

            else {
                if ($(".prev-btn").hasClass("go")) {
                    $(".prev-btn").removeClass("go");
                    $(".prev-btn").addClass("stop");
                }
            }
        });


        $('body').on('click', '.next-btnn', function () {
            //$('html, body').animate({
            //    scrollTop: $("#posts").offset().top
            //}, 600);

            if (HasNext == true) {
                console.log("aww");

                if (discoutTypeId == 1) {
                    getCategories(pageSize, ++CurrentPage);
                }
                else {
                    getProducts(pageSize, ++CurrentPage);
                }
                if ($(".prev-btn").hasClass("stop")) {
                    $(".prev-btn").removeClass("stop");
                    $(".prev-btn").addClass("go");
                }
            }
            else {
                if ($(".next-btn").hasClass("go")) {
                    $(".next-btn").removeClass("go");
                    $(".next-btn").addClass("stop");
                }
            }
        });

        $('body').on('click', '#add-selected', function () {
            var aa = $("#checkBoxAdd :checkbox:checked");
            var list = [];
            for (var i = 0; i < aa.length; i++) {
                list.push(aa[i].value)
            }
            console.log(list);
            if (discoutTypeId == 1) {
                checkbox_removeCategory(list);
            }
            else {
                checkbox_removePorducts(list);
            }
        })

        function checkbox_removePorducts(arr_products){
                $.ajax({
                    type: "POST",
                    url: "https://localhost:5001/Admin/Discount/RemoveProductsDiscount",
                    data: { "productID": arr_products},
                    success: function (response) {

                        console.log(response);

                    },
                    failure: function (response) {

                    },
                    error: function (response) {

                    }
                });
        }
        function checkbox_removeCategory(arr_categories) {
            $.ajax({
                type: "POST",
                url: "https://localhost:5001/Admin/Discount/RemoveCategoryDiscount",
                data: { "categoryIds": arr_categories },
                success: function (response) {

                    console.log(response);

                },
                failure: function (response) {

                },
                error: function (response) {

                }
            });
        }


        html = "";
        $("#posts").html(html);

        function getProducts(pageSize, pageNumber) {
            $.ajax({
                type: "POST",
                url: "https://localhost:5001/Admin/Discount/GetDiscountProducts",
                data: { "discountID": discountID, "pageSize": pageSize, "pageNumber": pageNumber },
                success: function (response) {
                    //var data = response.success.data;
                    console.log(response);

                    //Assign vars
                    CurrentPage = parseInt(response.currentPage);
                    HasNext = response.hasNext;
                    HasPrev = response.hasPrevious;
                    TotalPages = parseInt(response.totalPages);


                    //////////////
                    if (response.data.length > 0) {
                        $('#select-page').html(`


                        <div class="container  control-btn">
                            <div class="col-md-12 text-center">

                                <button class="prev-btn">Previous</button>

                                <button class="next-btnn">Next</button>

                            </div>
                        </div>
                    `);
                    }
                    else {
                        $('#select-page').html(`

                           <div class="no-posts">
                                No Posts
                           </div>

                    `);
                    }
                    console.log("seeee");
                    $("#posts").html("");

                    html = `

                      <a href="#" id="add-selected">Remove</a>

                <table id="checkBoxAdd" class="table table-bordered">
            <thead>
                <tr>
                    <th><font style="vertical-align: inherit;"># </font></th>
                    <th><font style="vertical-align: inherit;">ID  </font><i class="fa fa-sort"></i></th>
                    <th><font style="vertical-align: inherit;">Name </font></th>
                </tr>
            </thead>
            <tbody>
                `;
                    console.log(response.data);
                    for (var i = 0; i < response.data.length; i++) {
                        html += `

                     <tr>
                        <td><input type="checkbox" value="`+ response.data[i].productId + `" ></td>
                        <td><font style="vertical-align: inherit;">`+ response.data[i].productId  + ` </font></td>
                        <td><font style="vertical-align: inherit;">`+ response.data[i].productName  + `  </font></td>

                        <td>
                            <a href="#" class="view" title="" data-toggle="tooltip" data-original-title="View">View</a>
                             </td>
                     @*edit user >>*@
                    </tr>


                `;
                    }

                    html += `      </tbody>
        </table>`;

                    $("#posts").html(html);
                    console.log(response);
                },
                failure: function (response) {

                },
                error: function (response) {

                }
            });

        }

        function getCategories(pageSize, pageNumber) {
            $.ajax({
                type: "POST",
                url: "https://localhost:5001/Admin/Discount/GetDiscountCategories",
                data: { "discountID": discountID, "pageSize": pageSize, "pageNumber": pageNumber },
                success: function (response) {
                    //var data = response.success.data;
                    console.log(response);

                    //Assign vars
                    CurrentPage = parseInt(response.currentPage);
                    HasNext = response.hasNext;
                    HasPrev = response.hasPrevious;
                    TotalPages = parseInt(response.totalPages);


                    //////////////
                    if (response.data.length > 0) {
                        $('#select-page').html(`


                        <div class="container  control-btn">
                            <div class="col-md-12 text-center">

                                <button class="prev-btn">Previous</button>

                                <button class="next-btnn">Next</button>

                            </div>
                        </div>
                    `);
                    }
                    else {
                        $('#select-page').html(`

                           <div class="no-posts">
                                No Data
                           </div>

                    `);
                    }
                    console.log("seeee");
                    $("#posts").html("");

                    html = `

                      <a href="#" id="add-selected">Remove</a>

                <table id="checkBoxAdd" class="table table-bordered">
            <thead>
                <tr>
                    <th><font style="vertical-align: inherit;"># </font></th>
                    <th><font style="vertical-align: inherit;">ID  </font><i class="fa fa-sort"></i></th>
                    <th><font style="vertical-align: inherit;">Name </font></th>
                </tr>
            </thead>
            <tbody>
                `;
                    console.log(response.data);
                    for (var i = 0; i < response.data.length; i++) {
                        html += `

                     <tr>
                        <td><input type="checkbox" value="`+ response.data[i].id + `" ></td>
                        <td><font style="vertical-align: inherit;">`+ response.data[i].name + `  </font></td>

                        <td>
                            <a href="#" class="view" title="" data-toggle="tooltip" data-original-title="View">View</a>
                             </td>
                     @*edit user >>*@
                    </tr>


                `;
                    }

                    html += `      </tbody>
        </table>`;

                    $("#posts").html(html);
                    console.log(response);
                },
                failure: function (response) {

                },
                error: function (response) {

                }
            });

        }


        $('body').on('click', '#add-product-btn', function () {
            addProducts();
        })
        $('body').on('click', '#add-category-btn', function () {
            addCategories();
        })

        $("#discountType").change(function () {
            var selected_option = $('#discountType option:selected').val();
            if (selected_option == 2) {
                $('#add-category-btn').remove();
                $('#add-to-discount').html(`
                       <button id="add-product-btn">add Products</button>
                `);
            }

            if (selected_option == 1) {
                $('#add-product-btn').remove();
                $('#add-to-discount').html(`
                       <button id="add-category-btn">add Category</button>
                `);
            }
        });

        function SwitchDiscountType() {
            var selected_option = $('#discountType option:selected').val();

            if (selected_option == 2) {
                $('#add-category-btn').remove();
                $('#add-to-discount').html(`
                       <button id="add-product-btn">add Products</button>
                `);
            }

            if (selected_option == 1) {
                $('#add-product-btn').remove();
                $('#add-to-discount').html(`
                       <button id="add-category-btn">add Category</button>
                `);
            }
        }


        $('body').on('click', '#add-product-btn', function () {
            addProducts();
        })


        function addProducts() {

            $.ajax({
                type: "GET",
                url: "@Url.Action("AddProductsDiscount")" + "?DiscountId=" + discountID + "",
                success: function (response) {
                    var urll = "@Url.Action("AddProductsDiscount")" + "?DiscountId=" + discountID + "";
                    console.log(urll);
                    window.location = urll;

                }
            })
        }

         function addCategories() {

            $.ajax({
                type: "GET",
                url: "@Url.Action("AddCategoryDiscount")" + "?DiscountId=" + discountID + "",
                success: function (response) {
                    var urll = "@Url.Action("AddCategoryDiscount")" + "?DiscountId=" + discountID + "";
                    console.log(urll);
                    window.location = urll;
                }
            })
        }
    })

</script>