@model Web.ViewModels.Products.ProductDeatilsVM
@{
}



<div class="container mt-5 product-detail">
    <div class="row justify-content-md-center">


        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="breadcrumbs__container-list">

                <ul class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a href="/">Home</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <a href="/">Pormotions</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <a href="/">Up to 20% on Labtops</a>
                    </li>
                </ul>
            </div>
          
          

        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-12">

            <div class=”image-container”>
                <img id="zoom" class="image-zoom" src="/uploads/@Model.product.productPictures[0].picture.MimeType" data-zoom="/uploads/@Model.product.productPictures[0].picture.MimeType">
                <div class="image-details"></div>
            </div>

            <div id="tb-img" class="d-flex flex-row thumbnails">

                @for (int k = 0; k < Model.product.productPictures.Count; k++)
                {
                    <div id="@k" class="tb"> 
                        <img class="thumbnail-img fit-image" src="/uploads/@Model.product.productPictures[k].picture.MimeType" /> 
                    </div>
                }
            </div>
        </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-12">

                <div id="product-details" class="container ">
                    <form asp-controller="ShoppingCart" asp-action="AddCart" method="post">

                        <input type="hidden" asp-for="productID" value="@Model.product.Id" />


                        <div class="product-header">
                            @Model.product.Name
                        </div>

                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>

                        <div class="product-price">
                            <span class="a-price-symbol">EGP</span>
                            <span class="a-price-whole">@Model.product.Price</span>
                            <span class="a-price-discount">EGP @Model.product.OldPrice</span>
                        </div>
                        @if (Model.productAttributeMappings!=null) { 

                                <div class="img-box">
                                    @{ int w = 0;}
                                    @foreach (var map in Model.productAttributeMappings)
                                    {
                                        <div class="prod-attr">

                                            <div class="attributes">
                                                <div class="attr-header">
                                                    @map.productAttribute.Name:
                                                </div>
                                                <div id="@map.productAttribute.Id" class="attr-v">
                                                    @map.productAttributeOptions.FirstOrDefault().Name
                                                </div>
                                            </div>

                                            <div class="att-values">
                                                <div class="container">
                                                    <div class="row">

                                                        @foreach (var option in map.productAttributeOptions)
                                                        {
                                                            <div class="col-lg-2">
                                                                <div class="value">
                                                                    @*<input type="radio" asp-for="SelectedAttributes" value="@option.Id" name="@map.productAttribute.Name">*@

                                                                    <a data-attrID="@map.productAttribute.Id" data-attrValue="@option.Name" data-attrValueId="@option.Id" data-attrType="@map.productAttribute.Name" data-productSlug="@Model.product.Slug" class="AddAttr">
                                                                        @option.Name
                                                                    </a>
                                                                </div>
                                                                <img class="pic" src="/uploads/@option.PicturePath" />
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    @{w++;}
                                </div>
                         }
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                        <label for="" class="Size"></label>
                                    </div>

                                    <div class="counter">
                                        <span class="down">-</span>

                                        <input id="qty" type="text" asp-for="Qty" value="1">
                                        <span class="up">+</span>
                                    </div>

                                    <button type="submit" class="btnn">ADD TO CART</button>

                                    <div class="product-description">
                                        <span>
                                            About this item
                                        </span>
                                        <div class="product-desc">
                                            @Model.product.Description
                                        </div>
                                    </div>

                                </div>
                            </form>
                </div>
            </div>
        </div>
    </div>




<script>
    $(function () {
        //Color  red
        //Size   11
        $(document).ready(function () {
            $('#zoom')
                .wrap('<span style="display:inline-block"></span>')
                .css('display', 'block')
                .parent()
                .zoom({
                    url: $("#zoom").attr("data-zoom")
                });
            console.log($("#zoom").attr("data-zoom"));
        });

        let attributesObj = {
        };

        $('#product-details').on("click", '.AddAttr', function () {
            var AttrID = $(this).attr('data-attrID');
            var AttrName = $(this).attr('data-attrType');
            var ProductSlug = $(this).attr('data-productSlug');
            var attrValue = $(this).attr('data-attrValue');
            var AttrValueID = $(this).attr('data-attrValueId');

            EditAttributeAfter(AttrID,attrValue);

            console.log(attributesObj);
            console.log(ProductSlug);
            attributesObj[AttrName] = AttrValueID;
            const myJSON = JSON.stringify(attributesObj);
            GetProduct(myJSON, ProductSlug);
        });


        $('#product-details').on("click", '.up', function () {
            input = $("#qty");
            var value = parseInt(input.val(),10);
            value = isNaN(value) ? 0 : value;
            value++;
            console.log(input.val());
            input.attr('value', value);
        });

        $('#product-details').on("click", '.down', function () {
            input = $("#qty");
            var value = parseInt(input.val(), 10);
            if (value > 1) {
                value = isNaN(value) ? 0 : value;
                value--;
                input.attr('value', value);
            }
        });


        $('#tb-img').on("click", ".thumbnail-img", function () {
            tbimg = $(this);
            console.log(tbimg.attr('src'));
            $("#zoom").attr('src', tbimg.attr('src'));
            $(".zoomImg").attr('src', tbimg.attr('src'));
        });

        function GetProduct(attributesObj, ProductSlug) {
             var options=[];
             Object.values(attributesObj).forEach(val => {
                 console.log(options.push(val));
             });

            $.ajax({
                type: "POST",
                url: "@Url.Action("GetExtraProductPriceByAjax")",
                data: { 'options': options, 'slug': ProductSlug },
                AddCart: "json",
                traditional: true,
                success: function (response) {
                    var res = JSON.parse(response);

                    $(".product-price").empty();

                    EditPriceAfterAttribute(res, options);
                    console.log(res);
                    console.log(options);

                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }
        function EditAttributeAfter(attrId, attrName) {
            console.log(attrId);
            console.log(attrName);

            $("#" + attrId).empty();
            $("#" + attrId).html(attrName);
        }
        function EditPriceAfterAttribute(res, options) {
                html= `
                        <span class="a-price-symbol">EGP</span>
                        <span class="a-price-whole">  `+ res+ `</span>
             `;

            for (var i = 0; i < options.length; i++){
                html += `
                  <input type="hidden" value=`+options[i]+` name="SelectedAttributes">
                  `
              }

             $(".product-price").html(html);
        }



    })
</script>
