@model Web.ViewModels.Products.ProductDeatilsVM
@{
}

<div class="container mt-5 product-detail">
    <div class="row justify-content-md-center">
        <div class="col-lg-5 col-md-6 col-sm-12 col-12">
            <div class="d-flex ">
                <div class="card">

                    @for (int i = 0; i < Model.product.productPictures.Count; i++)
                    {
                        if (i == 0)
                        {<fieldset id="@i-1" class="active">
                                <div class="product-pic">
                                    <div class="product-pic">
                                        <img id="picc" class="pic0" src="/uploads/@Model.product.productPictures[i].picture.MimeType" />
                                    </div>
                                </div>
                            </fieldset>

                        }
                        else
                        {
                            <fieldset id="@i-1">
                                <div class="product-pic">
                                    <div class="product-pic">
                                        <img id="picc" class="pic0" src="/uploads/@Model.product.productPictures[i].picture.MimeType" />
                                    </div>
                                </div>
                            </fieldset>
                        }
                    }
                    <div class="d-flex flex-row thumbnails">

                        @for (int k = 0; k < Model.product.productPictures.Count; k++)
                        {

                            <div id="@k" class="tb"> <img class="thumbnail-img fit-image" src="/uploads/@Model.product.productPictures[k].picture.MimeType" /> </div>
                        }
                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-7 col-md-6 col-sm-12 col-12">
          
            <div id="product-details" class="container ">
                <form asp-controller="ShoppingCart" asp-action="AddCart" method="post">

                    <input type="hidden" asp-for="productID" value="@Model.product.Id" />
                  
                    <div class="product-name">
                        @Model.product.Name
                    </div>

                    <div class="rating">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>

                    <div class="product-price">
                        <span class="a-price-symbol">EGP</span>
                        <span class="a-price-whole">@Model.product.Price</span>
                        <span class="a-price-discount">EGP @Model.product.OldPrice</span>
                    </div>

                    <div class="product-desc">
                        @Model.product.Description
                    </div>

                    <div class="img-box">
                        @{ int w = 0;}
                        @foreach (var map in Model.productAttributeMappings)
                        {
                            <div class="prod-attr">

                                <div class="attr-header">
                                    @map.productAttribute.Name:
                                </div>

                                <div class="att-values">
                                    <div class="container">
                                        <div class="row">

                                            @foreach (var option in map.productAttributeOptions)
                                            {
                                                <div class="col-lg-2">
                                                    <div class="value">
                                                        @*<input type="radio" asp-for="SelectedAttributes" value="@option.Id" name="@map.productAttribute.Name">*@

                                                        <a data-attrID="@option.Id" data-attrType="@map.productAttribute.Name" data-productID="@Model.product.Id" class="AddAttr">
                                                            @option.Name
                                                        </a>
                                                    </div>
                                                    <img class="pic" src="/uploads/@option.PicturePath" />
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        @{w++;}
                    </div>



                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <label for="" class="Size "></label>
                        </div>

                        <select asp-for="Qty">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>

                            <option value="4">4</option>

                            <option value="5">5</option>

                            <option value="6">6</option>

                            <option value="7">7</option>

                            <option value="8">8</option>

                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>

                        <button type="submit" class="btnn">ADD TO CART</button>

                        <p class="mt-5">
                            Designed and produced locally in Los Angeles.

                            100% Cotton.

                            6.0 oz.

                            Screen print on front.

                            True to size standard fit.

                            *Ships in 3-4 weeks
                            Next »
                            Write a review
                        </p>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<script>

    $(function () {
        //Color  red
        //Size   11

        let attributesObj = {
        };

        $('#product-details').on("click", '.AddAttr', function () {
            var AttrID = $(this).attr('data-attrID');
            var AttrName = $(this).attr('data-attrType');
            var productId = $(this).attr('data-productID');
            console.log(attributesObj);
            console.log(productId);
            attributesObj[AttrName] = AttrID;
            const myJSON = JSON.stringify(attributesObj);
            GetProduct(myJSON,productId);
        });


         function GetProduct(attributesObj, ProductID) {
             var options=[];
             Object.values(attributesObj).forEach(val => {
                 console.log(options.push(val));
             });

            $.ajax({
                type: "POST",
                url: "@Url.Action("GetExtraProductPriceByAjax")",
                data: { 'options': options, 'ProductID': ProductID },
                AddCart: "json",
                traditional: true,
                success: function (response) {
                    var res = JSON.parse(response);

                    $(".product-price").empty();
                    EditPriceAfterAttribute(res, options);
                    console.log(res);

                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }

          function EditPriceAfterAttribute(res, options) {
                html= `
                        
                        <span class="a-price-symbol">EGP</span>
                        <span class="a-price-whole">EGP  `+ res+ `</span>
             `;

            for (var i = 0; i < options.length; i++){
                html += `
                  <input type="hidden" value=`+options[i]+` name="SelectedAttributes">
                  `
              }
            
            
             $(".product-price").html(html);
        }
    })
</script>
