@model Web.ViewModels.Deals.DealsVM

@{
    int nextPage = @Model.discountProductListModel.CurrentPage + 1;
    int prevPage = @Model.discountProductListModel.CurrentPage - 1;

    if (nextPage > Model.discountProductListModel.TotalPages)
    {
        nextPage = Model.discountProductListModel.TotalPages;
    }
}

<input type="hidden" id="deal-slug" value="@Model.deal.Slug" />

<div class="nav-progressive-content">

    <div class="trending">
        <i class="fas fa-angle-double-right"></i>
    </div>


    <div class="navTrend-item">

    </div>


</div>


@foreach (var d in Model.deal.DealDiscounts)
{
    <div class="Product-Img">

        <a asp-controller="Discount" asp-action="Index" asp-route-discountSlug="@d.discount.slug">
            <img class="img-fluid" src="/uploads/@d.discount.picture.MimeType">
        </a>
    </div>
}

<div class="sort-btn">

    <div class="count-results">
        <span class="count">
            @Model.discountProductListModel.Data.Count()  results
        </span>
    </div>

</div>


@await Html.PartialAsync("../Shared/PartialView/_shop-picker", Model.discountProductListModel);

<div id="pag" class="pagination">
    <ul>

        @if (Model.discountProductListModel.HasPrevious == true)
        {
            <li> <a class="page-link prev" asp-controller="Deals" asp-action="Index" asp-route-dealSlug="@Model.deal.Slug" asp-route-pageNumber="@prevPage">Prev</a></li>
        }
        else
        {
            <li class="disabled prev"> <a class="page-link" asp-controller="Deals" asp-route-dealSlug="@Model.deal.Slug" asp-action="Index" asp-route-pageNumber="@prevPage">Prev</a></li>
        }

        @for (int i = 1; i <= Model.discountProductListModel.TotalPages; i++)
        {
            if (i == Model.discountProductListModel.CurrentPage)
            {
                <li class="disabled"> <a class="page-link" asp-controller="Deals" asp-action="Index" asp-route-dealSlug="@Model.deal.Slug" asp-route-pageNumber="@i">@i</a></li>
            }
            else
            {
                <li> <a class="page-link" asp-controller="Deals" asp-action="Index" asp-route-dealSlug="@Model.deal.Slug" asp-route-pageNumber="@i">@i</a></li>
            }
        }

        @if (Model.discountProductListModel.HasNext == true)
        {
            <li>
                <a class="page-link next" asp-controller="Deals" asp-action="Index" asp-route-dealSlug="@Model.deal.Slug" asp-route-pageNumber="@nextPage">Next</a>
            </li>
        }
        else
        {
            <li class="disabled">
                <a class="page-link next" asp-controller="Deals" asp-action="Index" asp-route-dealSlug="@Model.deal.Slug" asp-route-pageNumber="@nextPage">Next</a>
            </li>
        }
    </ul>

</div>



<script>

    $(function () {

        var spec = [];
        var option;
        var currentCat;
        var CurrentPage,
            HasNext,
            HasPrev,
            TotalPages = 0,
            pageSize = 4,
            pageNumber = 1;

        currentDeal = $('#deal-slug').val();

        console.log($('#next-btn'));
        $('.spec-option').click(function () {
            $($(this)
            ).toggleClass("selected");
            var specID = $(this).attr('id');
            console.log(specID);
            console.log("aaaaa");

            if (spec.includes(specID)) {

                const index = spec.indexOf(specID);
                if (index > -1) {
                    spec.splice(index);
                }
            }
            else {
                spec.push(specID);
            }
            filter(currentDeal, spec, option, 1);
        });

        $('.order-option').click(function () {
            $($(this)
                ).toggleClass("selected");
             option = $(this).attr('id');
            filter(currentDeal, spec, option, 1);
        });

        $('#pag').on("click", '.page-number', function () {
            var number = $(this).attr('id');
            filter(currentDeal, spec, option, number);
        });

        $('#pag').on("click", '.prev', function () {
            console.log(pageNumber)
            if (pageNumber <= 0) {
                pageNumber = 1;
            }
            else {
                pageNumber = pageNumber - 1;
            }
            filter(currentDeal, spec, option, pageNumber);
        });

        $('#pag').on("click", '.next', function () {
            console.log(pageNumber)
            if (pageNumber > TotalPages) {
                pageNumber = TotalPages;
            }
            else {
                pageNumber = pageNumber + 1;
            }
            filter(currentDeal, spec, option, pageNumber);
        });

        //deal
        //discount
        //category
        function filter(currentDeal,spec, option, pageNumber) {


        if (pageNumber > TotalPages) {
            pageNumber = TotalPages;
        }
        if (pageNumber == 0) {
            pageNumber = 1;
        }
        $.ajax({
            type: "GET",
            url: "@Url.Action("promotions")",
            data: { 'dealSlug': currentDeal, 'specs': spec, 'orderBy': option, 'pageNumber': pageNumber },
            datatype: "json",
            traditional: true,
            success: function (response) {
                //Assign vars
                CurrentPage = parseInt(response.currentPage);
                HasNext = response.hasNext;
                HasPrev = response.hasPrevious;
                TotalPages = parseInt(response.totalPages);

                html = ``;
                pig = ``;
                $("#posts").empty();
                $("#pag").empty();

                console.log(response);


                for (var i = 0; i < response.products.length; i++) {
                    html += `
                            <div class="product-item col-lg-4 col-md-6 col-sm-12">

                                        <div class="Product-Img">
                                            <a href="#">
                                                <img class="img-fluid" src="/uploads/`+ response.products[i].picture + `">
                                            </a>
                                        </div>

                                        <div class="product-name">
                                            `+ response.products[i].name + `
                                        </div>

                                        <div class="rating">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>

                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                        <div class="product-price">

                                            <span class="a-price-symbol">EGP</span>
                                            <span class="a-price-whole">
                                            `+ response.products[i].price + `
                                            </span>
                                            `;
                    if (response.products[i].hasDiscountsApplied == true) {
                        html += `<span class="a-price-discount">` + response.products[i].oldPrice + `</span>`;
                    }

                    html += `

                                        </div>
                             </div>
                    `
                    console.log(html);

                }


                $("#posts").html(html);


                //Add Pag
                pag = `
                    <ul>
                `
                if (HasPrev == true) {
                    pag += `
                   <li>

                         <a id="prev-btn" class="page-link prev">prev</a>

                   </li>
                `
                }
                else {
                    pag += `
                        <li class="disabled prev">
                         <a id="prev-btn" class="page-link prev">prev</a>
                        </li>
                `
                }
                for (var i = 1; i <= response.totalPages; i++) {
                    if (i == CurrentPage) {
                        pag += `
                                   <li class="disabled ">

                                         <a id=`+ i + ` class="page-link page-number">` + i + `</a>

                                   </li>
                                `
                    }
                    else {
                        pag += `
                                    <li>

                                         <a id=`+ i + ` class="page-link page-number">` + i + `</a>

                                   </li>
                                `
                    }
                }
                if (HasNext == true) {
                    pag += `
                   <li>
                        <a id="next-btn" class="page-link next">Next</a>
                   </li>
                `
                }
                else {
                    pag += `
                   <li class="disabled ">
                        <a  id="next-btn" class="page-link next">Next</a>
                   </li>
                `
                }

                pag += `
                    </ul>
                `
                $("#pag").html(pag);

                const url = new URL(window.location);
                if (spec.length > 0) {
                    url.searchParams.set('spec', spec);
                }
                else {
                    url.searchParams.delete('spec');

                }
                if (option > 0) {
                    url.searchParams.set('orderBy', option);
                }
                else {
                    url.searchParams.delete('orderBy');
                }
                window.history.pushState({}, '', url);
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });

    }

    })

</script>