@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Core.Entites.Catalog

@model Web.Areas.Admin.ViewModels.Catalog.ACategoryModel

@{
    var order = Html.GetEnumSelectList<OrderByFilterOptions>();
}

<a class="filter-header">
    Order Filtering
</a>
@foreach (var o in order)
{

    <div class="filter-options">
        <button class="option" onclick="optionFilter('@Model.Name',@o.Value)">
            <div class="a-section">
                <span class="a-size-base a-color-base" dir="auto">  @o.Text</span>
            </div>
        </button>
    </div>

}


@foreach (var c in Model.CategoryAttributes)
{
    @foreach (var s in @c.specificationAttributeGroup.SpecificationAttribute)
    {
        <a class="filter-header">
            @s.Name
        </a>
        @foreach (var e in s.specificationAttributeOptions)
        {
            <div class="filter-options">
                <button class="option" onclick="specFilter('@Model.Name',@e.Id)">
                    <div class="a-section">
                        <span class="a-size-base a-color-base" dir="auto">@e.Name</span>
                    </div>
                </button>
            </div>
        }
    }
}


<script>

    var spec = [];
    var option;

    function specFilter(cat, specID) {

        if (spec.includes(specID)) {

            const index = spec.indexOf(specID);
            if (index > -1) {
                spec.splice(index);
            }
        }
        else {
            spec.push(specID);
        }

        filter(cat, spec, option);
    }

    function optionFilter(cat, optionID) {
        option = optionID;
        filter(cat, spec, option);
    }

    function filter(cat, spec, option) {

        $.ajax({
            type: "GET",
            url: `https://localhost:5001/category/` + cat + ``,
            data: { 'specs': spec, 'orderBy': option },
            datatype: "json",
            traditional: true,
            success: function (response) {
                $(".Product").empty();
                console.log(response);
                @*var html = `

                     <div class="product-item col-lg-4 col-md-6 col-sm-12">

                           <div class="Product-Img">
                                        <a href="#">
                                            <img class="img-fluid" src="/uploads/@product.productPictures[0].picture.MimeType">
                                        </a>
                                    </div>

                                    <div class="product-name">
                                        @product.Name
                                    </div>

                                    <div class="rating">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>

                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="product-price">

                                        <span class="a-price-symbol">EGP</span>
                                        <span class="a-price-whole">@product.Price</span>
                                        @if (product.HasDiscountsApplied == true)
                                        {
                                            <span class="a-price-discount">@product.OldPrice</span>
                                        }
                                    </div>

                   </div>
                `*@

            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });

    }
</script>