@model Web.Areas.Admin.ViewModels.Catalog.ACategoryModel

@{
    int nextPage = @Model.ProductsList.CurrentPage + 1;
    int prevPage = @Model.ProductsList.CurrentPage - 1;
}

<ul class="breadcrumb">
    <li><a href="#">HOME</a></li>
    <li><a href="#">PRODUCT</a></li>
</ul>

<hr>
<!---jUMPTron-->
@*@foreach (var item in Model.AvailableCategories)
    {
        <li class="list-group-item">
            <a href="#">@item.Name</a>
        </li>
    }*@
@await Component.InvokeAsync("HomeCategories")

<div class="sort-btn d-flex flex-row-reverse">
    <select>
        <option value="0">Sort by: Featured</option>
        <option value="1">Audi</option>
        <option value="2">BMW</option>
        <option value="3">Citroen</option>
        <option value="4">Ford</option>
    </select>
</div>

<div class="main-container grid-products mt-5 product-detail">
    <div class="row ">

        <div class="col-lg-2 col-md-4 col-sm-4 col-12">

            <div class="right">

                <div class="cat-list">

                    <div class="cat-header">
                        @Model.Name
                    </div>

                    <hr>

                    @await Html.PartialAsync("_CatalogFilters", Model.ProductsList);


                </div>

                <div class="brand-list mt-5">

                    <div class="cat-header">

                        SIZE

                    </div>
                    <hr>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <input type="checkbox" name="" id="">
                            <label for="">
                                <span>Shoes</span>
                                <small>(10)</small>
                            </label>
                        </li>
                        <li class="list-group-item">
                            <input type="checkbox" name="" id="">
                            <label for="">
                                <span>Shoes</span>
                                <small>(10)</small>
                            </label>
                        </li>
                        <li class="list-group-item">
                            <input type="checkbox" name="" id="">
                            <label for="">
                                <span>Shoes</span>
                                <small>(10)</small>
                            </label>
                        </li>
                        <li class="list-group-item">
                            <input type="checkbox" name="" id="">
                            <label for="">
                                <span>Shoes</span>
                                <small>(10)</small>
                            </label>
                        </li>

                    </ul>

                </div>
            </div>
        </div>

        <div class="col-lg-10 col-md-7 col-sm-7 col-12">

            <div class="left">
              
                <div class="products grid-container ">

                    <div class="grid-item">
                        <div class="row products-list">
                            @if (Model.SubCategories.Count > 0)
                            {
                                @foreach (var item in Model.SubCategories)
                                {
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                                        <a asp-controller="Category" asp-action="Index" asp-route-id="@item.Id">

                                            <img class="lazyautosizes lazyloaded " data-widths="[160, 240, 320]"
                                                 data-aspectratio="" data-sizes="auto"
                                                 alt="" style=""
                                                 src="/uploads/@item.categoryPictures[0].picture.MimeType" />
                                        </a>
                                    </div>

                                    <div class="category-name">
                                        <h3 class="cat-block-title">@item.Name</h3>
                                    </div>
                                }
                            }

                            else
                            {
                                @foreach (var product in Model.ProductsList.Data)
                                {
                                    <div class="col-lg-3 col-md-3 col-6">

                                        <div class="product item">

                                            <div class="product-image">

                                                <a href="#">

                                                    <img class="pic-prduct" src="/uploads/@product.productPictures[0].picture.MimeType" />

                                                </a>

                                                <div class="product-button">
                                                    <a href="Javascript:Void(0)" onclick="AddToCart(4);" class="tool-btn" data-mode="top" data-tip="Add to cart"><i class="fa fa-shopping-bag"></i></a>
                                                    <a href="Javascript:Void(0)" onclick="AddToWish(4);" class="tool-btn" data-mode="top" data-tip="Add to wish"><i class="fa fa-heart"></i></a>
                                                    <a href="Javascript:Void(0)" onclick="AddToCompare(4);" class="tool-btn" data-mode="top" data-tip="Add To Compare"><i class="fa fa-refresh"></i></a>
                                                </div>

                                            </div>

                                            <div class="category">
                                                @product.Category.Name
                                            </div>

                                            <div class="name">

                                                @product.Name

                                            </div>

                                            <div class="price">
                                                @if (product.HasDiscountsApplied == true)
                                                {
                                                    <del class="old-price">@product.OldPrice</del>
                                                }
                                                <span class="product-price">@product.Price</span>
                                            </div>
                                        </div>
                                    </div>

                                }

                            }

                        </div>
                    </div>

                </div>

                </div>

                <div class="clearfix">
                    <div class="hint-text"><font style="vertical-align: inherit;">Showing  </font><b><font style="vertical-align: inherit;">5 </font></b><font style="vertical-align: inherit;"> out of  </font><b><font style="vertical-align: inherit;">25 </font></b><font style="vertical-align: inherit;"> entries </font></div>
                    <ul class="pagination">
                        <li class="page-item"> <a asp-controller="Category" asp-action="Index" asp-route-pageNumber="@prevPage">Next</a></li>

                        <li class="page-item"> <a asp-controller="Category" asp-action="Index" asp-route-pageNumber="@nextPage">Next</a></li>
                    </ul>
                </div>

            </div>
            </div>


        </div>
  


<script src="~/jquery/jquery.js"></script>
<script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>

<script>

    $("input:checkbox").on('click', function() {
  // in the handler, 'this' refers to the box clicked on
  var $box = $(this);
  if ($box.is(":checked")) {
    // the name of the box is retrieved using the .attr() method
    // as it is assumed and expected to be immutable
    var group = "input:checkbox[name='" + $box.attr("name") + "']";
    // the checked state of the group/box on the other hand will change
    // and the current value is retrieved using .prop() method
    $(group).prop("checked", false);
      $box.prop("checked", true);
         $.ajax({
                    type: "POST",
                    url: "https://localhost:44333/Category/index",
                    data: { "categoryID": $box.attr("value") },
                    success: function (response) {
                          $(".filterd-products").empty();

                         for (var i = 0; i < response.productDTOs.length; i++ ) {
                             console.log(response.productDTOs[i].name);
                             $(".filterd-products").append(`

                                 <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                                <div id="productsClick">
                                <div class="pic">
                                    <a href="#" class="picCont button js-add-product"> <img style="width:100%" src="images/a.png"></a>

                                    <div class="product-content">
                                        <h3>`+response.productDTOs[i].name+`</h3>
                                        <a href="">`+response.productDTOs[i].unitPrice+`</a>
                                    </div>

                                    <button onclick="myFunction(`+response.productDTOs[i].id+`)">Details</button>

                                </div>
                            </div>
                            </div>
                                 `);
                        }
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                   }
                });
   }

    else {
    $box.prop("checked", false);
        }
    });


    function myFunction(id) {

        window.location.href = '@Url.Action("ProductDetail", "Products")/' + id;

    }



</script>