@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Core.Entites.Catalog

@model Web.Areas.Admin.ViewModels.Products.ProductListModel

@{
    var order = Html.GetEnumSelectList<OrderByFilterOptions>();
}

<a class="filter-header">
    Order Filtering
</a>
@*<input type="hidden" id="category-name" value="@Model.Name" />*@
@foreach (var o in order)
{

    <div class="filter-options">

        <a id="@o.Value" class="option order-option">
            <div class="a-section">

                <span class="a-size-base a-color-base" dir="auto">@o.Text</span>
            </div>
        </a>
    </div>

}

@if (Model.SpecificationAttributes != null)
{

    @foreach (var c in Model.SpecificationAttributes)
    {
        <a class="filter-header">
            @c.Name
        </a>
        @foreach (var e in c.specificationAttributeOptions)
        {
            <div class="filter-options">

                <a id="@e.Id" class="option spec-option">
                    <div class="a-section">

                        <span class="a-size-base a-color-base" dir="auto">@e.Name</span>
                    </div>
                </a>
            </div>
        }
    }
}
}

