@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Web.Areas.Admin.ViewModels.Catalog.AProductModel


<div class="contenti">
    <div class="container">
        <form asp-controller="Product" asp-action="EditProduct" method="post">

            <input name="Id" value="@Model.Id" asp-for="Id" type="hidden" />
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Name:</label>
                        <input asp-for="Name" type="text" value="@Model.Name" class="form-control required" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Description:</label>

                        <input asp-for="Description" type="text" value="@Model.Description" class="form-control required" />

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>ImageFile:</label>
                        <input asp-for="PictureFile" type="file" class="form-control required" />
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label>UnitPrice:</label>
                        <input asp-for="Price" type="text" value="@Model.Price" class="form-control required" />
                    </div>
                </div>



                @*@Html.DropDownList(Model.CategoryName, new SelectList(catgeories),"Select Category")*@


                <select asp-for="CategoryId">

                    @foreach (var category in Model.categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }

                </select>


                <table class="table">
                    <thead>
                        <tr>
                            <th>Attribute</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var att in Model.productAttributes)
                        {
                            <tr>
                                <td>@att.productAttribute.Name</td>

                                <td>
                                    <a asp-controller="Product" asp-action="ProductAttributeOptionAdd" asp-route-ProductAttributeMappingEdit="@att.Id">Add Product Atrribute Options</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <a asp-controller="Product" asp-action="ProductAttributeAdd" asp-route-productID="@Model.Id">Add Product Atrribute</a>

                <a asp-controller="Product" asp-action="ProductAttributeEdit" asp-route-productID="@Model.Id">Edit Product Atrribute</a>

                <a asp-controller="Product" asp-action="ProductSpecAttributeAdd" asp-route-productID="@Model.Id">Add Specifaction Atrribute</a>
                
                <a asp-controller="Product" asp-action="ProductAttributeDelete" asp-route-productID="@Model.Id">Delete  Product Atrribute</a>

                <button class="btn btn-primary" type="submit">
                    Edit
                </button>

            </div>
        </form>
    </div>
</div>

