@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Web.Areas.Admin.ViewModels.Catalog.AProductAttributeCreate;

<form asp-controller="Product" asp-action="ProductAttributeAdd" method="post">

    <div class="row">

        <select asp-for="ProductAttributeId">

            @foreach (var att in Model.productAttributes)
            {
                <option value="@att.Id">@att.Name</option>
            }

        </select>

        <select asp-for="ProductAttributeOptionId">

            @foreach (var op in Model.productAttributeOptions)
            {
                <option value="@op.Id">@op.Name</option>
            }

        </select>

        <input type="hidden" asp-for="ProductID" value="@Model.ProductID" />

        <div class="col-md-12">
            <div class="form-group">
                <label>Display Order</label>
                <input asp-for="DisplayOrder" type="number" class="form-control required" />
            </div>
        </div>

        <button class="btn btn-primary" type="submit">
            Add
        </button>

    </div>
</form>
